<div class='header'>
  <div class='title'>
    <h1>Bienvenido</h1>
  </div>


  <ul class="navigation">
    <li routerLinkActive="active"><a routerLink="presentation">Général</a></li>
    <li routerLinkActive="active"><a routerLink="produits">Produits</a></li>
    <li routerLinkActive="active"><a routerLink="installations">Installations</a></li>
    <li routerLinkActive="active"><a routerLink="finance">Finance</a></li>
    <li routerLinkActive="active"><a routerLink="Laboratoire">Laboratoire</a></li>
    <li routerLinkActive="active"><a routerLink="Marche">Marché</a></li>
  </ul>
</div>