.header {
  float: left;
  width:100%;
  
  background-color: bisque;
}
.header h1{
  padding-left: 47%;
}

.body {
  float: left;
  width:100%;
  height: 100%;
  background-color: blue;
}