<div class="my">
  <nav id="sidebar-header">
      <div class="sidebar-header">
          <h3>Bienvenido</h3>
      </div>
  </nav>
</div>

<div class="wrapper">
  <nav id="sidebar">
      <div class="sidebar-header">
          <h3>Menu</h3>
      </div>
      <ul class="list-unstyled components">
          <li>
              <a routerLink="#">Produit</a>
          </li>
          <li>
              <a routerLink="#">Installations</a>
          </li>
          <li>
              <a routerLink="#">Finance</a>
          </li>
          <li>
              <a routerLink="#">Marché</a>
          </li>
          <li>
              <a routerLink="#">Changer de serveur</a>
          </li>
      </ul>
  </nav>
</div>

