<div class="produit panel panel-default">
  <div class='panel-heading' id='heading'><h4><strong>{{ centerService.panel_factory[key].id }}</strong></h4></div>
  <div class="panel-body container">
  <div class="mypanel row"> 
    <div class="descision col-sm-2">
      <label>Entretien : </label><br>
      <input type="nummber" id="name" [value]=centerService.panel_factory[key].entretien name="name" (input)="centerService.panel_factory[key].entretien = $event.target.value" required minlength="1" maxlength="8" size="10"><br>
      <label>Indice salaire :</label><br>
      <input type="nummber" id="name" [value]=centerService.panel_factory[key].indS name="name"  (input)="centerService.panel_factory[key].is = $event.target.value"  required minlength="1" maxlength="10" size="10"><br>
      <label>Nombre de salariés :</label><br>
      <input type="nummber" id="name" [value]=centerService.panel_factory[key].nbrEmployes name="name" disabled  required minlength="1" maxlength="10" size="10"><br>
    </div>

    <div class="information col-sm-2">
      <label>Moral :</label><br>
      <input type="nummber" size="10" [value]=centerService.panel_factory[key].moral disabled><br>
      <label>Région :</label><br>
      <input type="nummber" size="10" [value]=centerService.panel_factory[key].region disabled><br>
      <label>Indice Technique : </label><br>
      <input type="nummber" size="10" [value]=centerService.panel_factory[key].it disabled><br>
      <label>Frais divers :</label><br>
      <input type="nummber" size="10" [value]=centerService.panel_factory[key].fd disabled><br>
      <label>Production :</label><br>
      <input type="nummber" size="10" [value]=centerService.panel_factory[key].production disabled><br>
      <label>Production limite :</label><br>
      <input type="nummber" size="10" [value]=centerService.panel_factory[key].pl disabled><br>
      <label>Production : </label><br>
      <input type="nummber" size="10" [value]=centerService.panel_factory[key].p disabled><br>
    </div>

  </div>
  </div>
</div>

