.myTableColumns{
  padding: 1vh 0 0 0;
}

#test{
  text-align: center;
  color: black;
  justify-content: center;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #777;
  
}

.mat-table-sticky:first-child {
  border-right: 1px solid #e0e0e0;
  width: 10vw;
}