<div class='myTableColumns'*ngIf='displayedColumns'>
  <div class="example-container mat-elevation-z10" [ngStyle]="{'width':'70vw'}">
    <table mat-table class="mytable" [dataSource]="dataSource" [ngStyle]="{'width':'65vw'}">
      <ng-container *ngFor="let x of getDisplayedColumns(); let col = index;" matColumnDef={{x}}  [sticky]='isSticky(x)'>
        <th mat-header-cell *matHeaderCellDef [ngStyle]="{'text-align':'center','color': 'black'}" > {{x | headerTable}} </th>
        <ng-container>
          <td mat-cell [ngStyle]="{'height':'fit-content'}" *matCellDef="let row;let r = index;" > 
            <p [matTooltip]="formateKey(row, col, r) | headerTable | descriptionData:1" [ngStyle]="{'font-weight':formateKey(row, 0, r).includes('$sG$') ? 'bold' : 'italic', 'padding':'0 0 0 0'}">{{formateKey(row, col, r) | headerTable | descriptionData:0 }}</p></td> 
        </ng-container>
      </ng-container>
      <tr mat-header-row class='columns' *matHeaderRowDef="getDisplayedColumns(), sticky: true"></tr>
      <tr mat-row [ngStyle]="{'text-align':'center','color': 'black'}" class="example-element-row" *matRowDef="let row; columns: getDisplayedColumns();"></tr>
    </table>
  </div>
  <!--<mat-paginator *ngIf='boolPag' #paginator 'height':height,'overflow':'auto'
                  [pageSize]='len'
                  [pageSizeOptions]="[len, 5, 10, 20]"
                  [showFirstLastButtons]="true">
    </mat-paginator>
  <mat-button-toggle (change)='boolPag = !boolPag'>{{ boolPag }}</mat-button-toggle>-->
</div>