.myTableColumns{
  padding: 1vh 0 0 0;
  
}

mat-table{  
  width: 50vw;
  height: 50vh;
  overflow: auto;
}

.columns{
  text-align: center;
}

ng-container p{
  text-align: center;
  text-decoration-color: red;
}