
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container *ngFor="let x of displayedColumns" matColumnDef={{x}}>
    <th mat-header-cell *matHeaderCellDef> {{x}} </th>
    <td mat-cell *matCellDef="let element"> {{element[x]}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div *ngIf="table">
    <table class="table table-bordered table-hover">
        <caption>List of users</caption>
        <thead>
            <tr>
                <th *ngFor="let x of tableHeaders"> {{ x }} </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let x of table" >
                <td *ngFor="let y of tableHeaders">{{ x[y] }}</td>
            </tr>
        </tbody>
    </table>
</div>