.Myss{
  padding: 1vh 0 0 0;
 
}

.mat-row:hover {
  background: #777;
  
}

.mat-header-cell p{
  text-align: center;
  justify-content: center; 
  color: black;
  font-weight: bold;
  padding: 0 0 0 0;
}


.mat-table-sticky{
  border-bottom: 10px solid #e0e0e0;
}