.server{
  width: 15em;
  margin: 10vh;
}
#heading{
  text-align: center;
  border-bottom: 10px line;
  background-color: red;
}
label, input, button{
  text-align: center;
  width: 100%;
}