<div class="produit panel panel-default">
  <div class="panel-body container">{{ data.id }}
  <div class="mypanel row"> 
    <div class="information col-sm-5">
      <label>Qualité :</label><br>
      <input type="nummber" size="10" [value]=data.Qualite disabled><br>
      <label>Image Prix :</label><br>
      <input type="nummber" size="10" [value]=data.IP disabled><br>
      <label>Indice Technique : </label><br>
      <input type="nummber" size="10" [value]=data.IT disabled><br>
      <label>Notoriété :</label><br>
      <input type="nummber" size="10" [value]=data.Notoriete disabled><br>
      <label>Demande :</label><br>
      <input type="nummber" size="10" [value]=data.Demande disabled><br>
      <label>En stock :</label><br>
      <input type="nummber" size="10" [value]=data.Stock disabled><br>
      <label>Marge brute : </label><br>
      <input type="nummber" size="10" [value]=data.MB disabled><br>
      <label>Taux de marge brute : </label><br>
      <input type="nummber" size="10" [value]=data.TMB disabled><br>
    </div>

  </div>
  </div>
</div>

<p> {{ data.Prix }} </p>
