<div class='test'>
  <mat-form-field class="">
      <input matInput type='number' placeholder="Budget communication" value="">
  </mat-form-field>
  <mat-form-field class="example-full-width">
      <input matInput type='number' placeholder="Budget recherche" value="">
  </mat-form-field>
  <mat-form-field class="example-full-width">
      <input matInput type='number' placeholder="Budget R&D" value="">
  </mat-form-field>
</div>



<mat-accordion>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Finance
      </mat-panel-title>
      <mat-panel-description>
        Tableau 
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-tab-group animationDuration="500ms" mat-align-tabs="center">
      <mat-tab label="Tableau"> 
        <app-table-columns [dataSource]=centerService.table_finances [displayedColumns]=centerService.columns_finances height='70vh'></app-table-columns> 
      </mat-tab>
      <mat-tab label="Courbe"> Content 2 </mat-tab>
      <mat-tab label="Third"> Content 3 </mat-tab>
    </mat-tab-group>
    

  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Trésorerie
      </mat-panel-title>
      <mat-panel-description>
        Tableau .
      </mat-panel-description>
    </mat-expansion-panel-header>
  
    <app-table-columns [dataSource]=centerService.table_tresorerie [displayedColumns]=centerService.columns_tresorerie
      height='70vh'></app-table-columns>
  </mat-expansion-panel>


  <mat-expansion-panel [expanded]="false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Bilan actif
      </mat-panel-title>
      <mat-panel-description>
        Tableau .
      </mat-panel-description>
    </mat-expansion-panel-header>
  
    <app-table-columns [dataSource]=centerService.table_bilan_actif [displayedColumns]=centerService.columns_bilan_actif
      height='70vh'></app-table-columns>
  </mat-expansion-panel>



  <mat-expansion-panel [expanded]="false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Bilan passif
      </mat-panel-title>
      <mat-panel-description>
        Tableau .
      </mat-panel-description>
    </mat-expansion-panel-header>
  
    <app-table-columns [dataSource]=centerService.table_bilan_passif [displayedColumns]=centerService.columns_bilan_passif
      height='70vh'></app-table-columns>
  </mat-expansion-panel>

</mat-accordion>