<div class='test'>
  <mat-form-field class="example-full-width">
      <input matInput type='number' placeholder="Budget communication" value="">
  </mat-form-field>
  <mat-form-field class="example-full-width">
      <input matInput type='number' placeholder="Budget recherche" value="">
  </mat-form-field>
  <mat-form-field class="example-full-width">
      <input matInput type='number' placeholder="Budget R&D" value="">
  </mat-form-field>
</div>
<app-table-columns [dataSource]=centerService.table_finances [displayedColumns]=centerService.columns_finances></app-table-columns>
