<div class="connection panel panel-default">
  <div class="panel-heading">Connection</div>
    <div class="panel-body container">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class=""> 
          <label for="uname"><b>Username</b></label>
          <br>
          <input type="text" placeholder="Enter Username" name="uname" ngModel required>
          <br>
          <label for="psw"><b>Password</b></label>
          <br>
          <input type="password" placeholder="Enter Password" name="psw" ngModel required>
          <br>
          <br>
          <button type="button" >Login</button> 
          <br>
          <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label>
        </div>
      </form>
  </div>
   <div class="panel-footer">Panel Footer</div>
</div>