.produit{
  margin-top: 1em;
  margin-left: 1em;
  width: 20em;

}

#heading{
  border-bottom: 10px line;
  background-color: red;
}

h4{
  text-align: center;
}

#installations-list, progress, input, label{
  margin: 0 0 0 10%;
  width: 80%;
}

input, label{

}


