.produit{
  margin-top: 1em;
  margin-left: 1em;
  width: 25em;
}

.list-group{
    max-height: 100px;
    margin-bottom: 10px;
    max-width: 15em;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

#installations-list, #production-progress-bar{
  width: 80%;
}


#heading{
  border-bottom: 10px line;
  background-color: red;
}

h4{
  text-align: center;
}