<HTML>
<head>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <link rel="stylesheet" href="node_modules/mdbootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="node_modules/mdbootstrap/css/mdb.min.css">
  <link rel="stylesheet" href="node_modules/mdbootstrap/css/style.css">
</head> 
<body>

  <script type="text/javascript" src="node_modules/mdbootstrap/js/jquery.min.js"></script>
  <script type="text/javascript" src="node_modules/mdbootstrap/js/popper.min.js"></script>
  <script type="text/javascript" src="node_modules/mdbootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="node_modules/mdbootstrap/js/mdb.min.js"></script>


<div class="produit panel panel-default">
  <div class="panel-body container">{{ data.id }}
  <div class="mypanel row"> 
    <div class="descision col-sm-6">
      <label>Prix : </label><br>
      <input type="nummber" id="name" [value]=data.Prix name="name" (input)="data.Prix = $event.target.value" required minlength="1" maxlength="8" size="10"><br>
      <label>R&D :</label><br>
      <input type="nummber" id="name" [value]=data.RD name="name"  (input)="data.Prix = $event.target.value"  required minlength="1" maxlength="10" size="10"><br>
      <label>Installations :</label><br>
      <select id='test' class="browser-default custom-select">
        <ng-container *ngFor='let x of data.Installations'>
          <ng-container *ngIf="x != 0">
            <option value={{x}}>{{x}}</option>
          </ng-container>
        </ng-container>
      </select><br>
      <label>Production (%) :</label><br>
      <progress id="file" max="100" [value]="70"> 70% </progress><br>
      <label>Production :</label><br>
      <input type="nummber" id="name" name="name" [value]=20 required minlength="1" maxlength="6" size="10"><br>
      <label>Production totale :</label><br>
      <input type="nummber" id="name" name="name" [value]=data.Productionrequired minlength="1" maxlength="8" size="10" disabled><br>
    </div>

    <div class="information col-sm-5">
      <label>Qualité :</label><br>
      <input type="nummber" size="10" [value]=data.Qualite disabled><br>
      <label>Image Prix :</label><br>
      <input type="nummber" size="10" [value]=data.IP disabled><br>
      <label>Indice Technique : </label><br>
      <input type="nummber" size="10" [value]=data.IT disabled><br>
      <label>Notoriété :</label><br>
      <input type="nummber" size="10" [value]=data.Notoriete disabled><br>
      <label>Demande :</label><br>
      <input type="nummber" size="10" [value]=data.Demande disabled><br>
      <label>En stock :</label><br>
      <input type="nummber" size="10" [value]=data.Stock disabled><br>
      <label>Marge brute : </label><br>
      <input type="nummber" size="10" [value]=data.MB disabled><br>
      <label>Taux de marge brute : </label><br>
      <input type="nummber" size="10" [value]=data.TMB disabled><br>
    </div>

  </div>
  </div>
</div>

<p> {{ data.Prix }} </p>


  
</body>

<footer>

</footer>
</HTML>